:root{
    --primary: rgba(0, 42, 72, 1); 
    --text: rgba(0, 0, 0, 1);
    --gray:rgba(130, 130, 130, 1);

}
html,body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;

}


.wrapper{
    max-width: 1432px;
    width: 100%;
    margin-inline: auto;
}
