body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.khoidau{
    background: rgb(174,238,238);
    background: radial-gradient(circle, rgba(174,238,238,1) 0%, rgba(148,187,233,1) 100%);

}
.khoitb{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 2px solid rgba(174,238,238,1);
}

.chu{
    color: #002A48;
    padding-left: 30px;
}


.xemtatca1{
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #002A48;
    height: 40px;
    width: 150px;
    font-size: 20px;
    color: #002A48;
    font-weight: bold;
}

.xemtatca1:hover{
    cursor: pointer;
    font-size: larger;
}

.khoibieudien{
    display: flex;
    justify-content:space-evenly;
    border-bottom: 2px solid rgba(174,238,238,1);
}


.bieudien{
    border: 1px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 15.2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 300px;
    height: 540px;
    margin-bottom: 50px;
    background-color: white;
}

.bieudien:hover{
    border: 1px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 15.2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 320px;
    height: 550px;
    margin-bottom: 50px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


.hinhanh{
    border-radius: 20px;
    text-align: center;
    width: 290px;
    height: auto;
}

.tieude{
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    font-size: 15px;
    font-weight: bold;
}

.datvengay1{
    text-align: center;
    background-color: #BB5F5F;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    border: 1px solid;
    font-size: 16px;
    font-family: "Arial";
    color: #FFF;
    
}



.bieudien1, .bieudien3{
    margin-top: 200px;
}


.datvengay1:hover{
    cursor: pointer;
    font-size: 18px;
}

.khoianhbieudien{
    margin-top: -21px;
    background: rgb(174,238,238);
    background: radial-gradient(circle, rgba(174,238,238,1) 0%, rgba(148,187,233,1) 100%);
}

.chuanhbieudien{
    color: #002A48;
    padding-left: 30px;
    padding-top: 50px;
}

.anhbieudien{
    text-align: center;
}

.anhbieudien1{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Quảng cáo */

.fill-operations {
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-self: center ;
    padding: 0 var(--padding-8xs);
    padding-top: 10px;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    max-height: 190px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-bottom: 2px solid rgba(174,238,238,1);
    /* padding-bottom: 10px; */
  }

  .qung-co {
    margin-top: 30px;
    width: 107px;
    justify-content: center;
    min-width: 107px;
    /* bottom: -3px; */
  }

  .parallel-processor-icon,
.parallel-processor-icon1,
.parallel-processor-icon2,
.parallel-processor-icon3,
.parallel-processor-icon4,
.stack-memory-icon {
  height: 178.2px;
  width: 12%;
  position: relative;
  object-fit: cover;
  min-height: 178px;
}


.timer-trigger {
    position: relative;
    /* top: 3014px;
    left: 64px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    margin-bottom: 90px;
    gap: 42px;
  }

  @media only screen and (max-width: 900px){
    .khoibieudien{
    display: inline-block;
    justify-content: center;
    }
    .khungto .khoianhbieudien{
        width: 25%;
    }

    #form-datve{
        width: 25%;
    }
 }