/*các frame được để thứ tự số nên mọi người inspect rồi để ý nhé */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', roboto;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  /* tên phần frame trắng của header */
.cu-chuyn-child {
  width: 100%;
  position: absolute;
  left: 0;
}
.cu-chuyn-child {
  height: 138px;
  width: 100%;
  margin: 0;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #fff 86.5%, rgba(255, 255, 255, 0));
  z-index: 1;
}
/* responsive thử nghiệm */
@media only screen and (max-width: 1023px) {
  /* .cu-chuyn2,  */
  /* .cu-chuyn-child,   */
  .logo-hoc-vien-am-nhac-quoc-gia-wrapper,
  .frame-parent24,
  .frame-wrapper12,
  .tiu-18
   {
    display: none!important; 
  }
  .cu-chuyn-child{
    height: 120px;
    width: 100%;
  }
}
.logo-hoc-vien-am-nhac-quoc-gia-icon9 {
  width: 124px;
  height: 124px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-hoc-vien-am-nhac-quoc-gia-wrapper {
  height: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
/* đăng nhập, ngôn ngữ */
.ng-nhp8,
.ngn-ng8 {
  position: relative;
  display: inline-block;
  font-weight: 500;
  flex-shrink: 0;
  font-family: inherit ;
}
.ng-nhp8 {
  width: 103px;
  cursor: pointer;
}
.ngn-ng8 {
  width: 94px;
}
.ng-nhp-parent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 155px;
  gap: var(--gap-xl);
  z-index: 1;

}
.frame-child65 {
  border: 1px solid var(--color-steelblue-100);
  outline: 0;
  background-color: var(--color-white);
  height: 26px;
  width: 184px;
  position: absolute;
  margin: 0 !important;
  right: -110px;
  bottom: -5px;
  border-radius: var(--br-7xl);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 1;
}
.tm-kim8 {
  position: relative;
  display: inline-block;
  font-weight: 500;
  min-width: 63px;
  z-index: 2;
}
.rectangle-parent59 {
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-silver);
}
.frame-parent26,
.frame-wrapper13,
.rectangle-parent59 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent26 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-9xl);
}
.frame-wrapper13 {
  width: 330px;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;

}
.icon5 {
  height: 50px;
  width: 52px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent25,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent25 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  width: 526px;
  justify-content: flex-end;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
/* phần navibar */
.trang-ch9 {
  display: inline-block;
  min-width: 92px;
}
.tin-tc-v8,
.trang-ch9 {
  position: relative;
  font-weight: 500;
}
.o-to17 {
  margin: 0;
}
.o-to16 {
  height: 50px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.tuyn-sinh17 {
  margin: 0;
}
.tuyn-sinh16 {
  height: 50px;
}
.bin-din8,
.n-v8,
.nghin-cu8,
.tuyn-sinh16,
.v-chng-ti8 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.nghin-cu8 {
  width: 128px;
  flex-shrink: 0;
}
.bin-din8,
.n-v8,
.v-chng-ti8 {
  min-width: 88px;
}
.n-v8 {
  align-self: flex-start;
  right: -5px;
  width: 65px;
  margin-right: 0px;
}

.n-v8,
.v-chng-ti8 {
  min-width: 59px;
}
.v-chng-ti8 {
  position: relative;
  margin: 0 !important;
  top: 0;
  right: -2px;
  line-height: 25.6px;
  min-width: 120px;
}
.cu-chuyn2,
.frame-parent24,
.tiu-18 {
  display: flex;
  justify-content: flex-start;
}
.tiu-18 {
  align-self: stretch;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: flex-start;
  padding: 0 0 var(--padding-4xs);
  position: relative;
  gap: var(--gap-34xl);
  z-index: 1;
  font-size: var(--font-size-xl);
  flex-wrap: wrap;
  flex-basis: 100%;
  /* padding-right: 0px;
  margin-right: 0px; */
}
.tiu-18 a {
  overflow: auto ;
}
/* 
.anh-nen-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%; 
  height: 100%; 
}

.error-handler {
  top: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 42, 72, 0), #002a48 20%, #0a5d97);
  width: 100%;
  height: 70px;
  mix-blend-mode: normal;
  z-index: 5;
  min-height: 74px;
} */
.cu-chuyn2,
.frame-parent24 {
  align-items: flex-end;
  max-width: 100%;
}
.frame-parent24 {
  width: 1295px;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap-10xs);
}
.cu-chuyn2 {
  height: 130px;
  width: 100%;
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-28xl);
  z-index: 3;
  /* thêm wrap */
  flex-wrap: wrap;
  justify-content: space-around;
}
/* đây vốn là phần để chứa ảnh nhưng mà t bỏ đi rồi, để lại cái container thôi */
.shape-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shape-container1 {
  position: absolute;
  bottom: 0;
  align-self: stretch;
  padding: 178px 140px var(--padding-63xl) 140px;
  box-sizing: border-box;
  position: relative;
  gap: 23px;
  margin-top: -35px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

/* Phần này là phần dropdown mega menu */
/* Hiệu ứng nhấp chữ */
.tiu-18 div a:hover{
    background: #ebebeb;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .tiu-18 div a:active{
    text-decoration: none;
    color: #00A9DE;
    z-index: 1000;
  }
  /* Hiệu ứng hiện ra menu */
  .tiu-18 div:hover .mega-box1{
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  .tiu-18 div:hover .mega-box2{
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  .tiu-18 div:hover .mega-box3{
    opacity: 1;
    visibility: visible;
  }
  .tiu-18 div:hover .mega-box4{
    opacity: 1;
    visibility: visible;
  }
  .tiu-18 div:hover .mega-box5{
    opacity: 1;
    visibility: visible;
  }
  .tiu-18 div:hover .mega-box6{
    opacity: 1;
    visibility: visible;
  }
  .tiu-18 div:hover .mega-box7{
    opacity: 1;
    visibility: visible;
  }
  /* giao diện menu */
  .mega-box1{
    position: absolute;
    /* background: white; */
    top: 50px;
    width: 850px; 
    left: -200px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 6;
  }
  .mega-box1 .content{
    position: relative;
    background: white;
    padding: 5px 20px;
    display: flex;
    width: 750px;
    justify-content: space-evenly;
    /* đang ở đây */
    z-index: 1000;
  }
  .mega-box2{
    position: absolute;
    top: 50px;
    width: 850px; 
    left: -300px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-box2 .content{
    position: relative;
    background: white;
    padding: 5px 25px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
  }
  .mega-box3{
    position: absolute;
    top: 50px;
    width: 850px; 
    left: -290px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-box3 .content{
    position: relative;
    background: white;
    padding: 5px 25px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
  }
  .mega-box4{
    position: absolute;
    top: 50px;
    width: 850px; 
    left: -290px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-box4 .content{
    position: relative;
    background: white;
    padding: 5px 25px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
  }
  .mega-box5{
    position: absolute;
    top: 50px;
    width: 850px; 
    right: -450px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-box5 .content{
    position: relative;
    background: white;
    padding: 5px 25px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
  }
  .mega-box6{
    position: absolute;
    top: 50px;
    width: 850px; 
    right: -320px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .mega-box6 .content{
    position: relative;
    background: white;
    padding: 5px 25px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
  }
  .mega-box7{
    display: block;
    position: absolute;
    top: 50px;
    width: 850px; 
    right: -190px;
    opacity: 1;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 100;
  }
  .mega-box7 .content{
    position: relative;
    background: white;
    padding: 5px 25px;
    display: flex;
    width: 700px;
    justify-content: space-evenly;
  }
  .mega-box6 .content .row {
    padding-top: 30px;
  }
  .content .row{
    /* width: calc(25% - 30px); */
    height: 200px;
    line-height: 45px;
    padding-top: 10px;
  }
  .content .row header{
    color: #002A48;
    font-size: 24px;
    font-weight: 600;
  }
  .content .row .mega-links{
    border-left: 1px solid rgba(255, 255, 255, 0.09) ;
    margin-left: -40px;
  }
  .content .row:nth-child(1), .content .row:nth-child(2){
    border-left: 0px;
  }
  .mega-links li a{
    text-decoration: none;
    color: black;
  }
  .row .tiu-18 div a{
    padding: 0 20px;
    color: #002A48;
    font-size: 22px;
    display: block;
  }
  .trang-ch8 {
    width: 100%;
    height: 3371px;
    position: relative;
    background-color: var(--color-white);
    overflow-y: auto;
    letter-spacing: normal;
  }