.tiu-18 div a:hover{
  background: #ebebeb;
}
.tiu-18 div a:active, .tiu-18 div a:active .mega-box{
  text-decoration: none;
  color: #00A9DE;
  z-index: 1000;
}

.tiu-18 div a:hover + .mega-box1{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a:hover .mega-box2{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a:hover .mega-box3{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a:hover .mega-box4{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a:hover .mega-box5{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a:hover .mega-box6{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a:hover .mega-box7{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div a{
  width: 100%;
  display: block;
  padding: 0 0 0px 20px;
  font-weight: 500;
  border-radius: 0px;
}
.mega-box1{
  position: absolute;
  top: 150px;
  width: 1190px; 
  left: 403px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
}
.mega-box1 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
  z-index: 1000;
}
.mega-box2{
  position: absolute;
  top: 150px;
  width: 1190px; 
  left: 710px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box2 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
}
.mega-box3{
  position: absolute;
  top: 150px;
  width: 1190px; 
  left: 890px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box3 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
}
.mega-box4{
  position: absolute;
  top: 150px;
  width: 1190px; 
  left: 1095px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box4 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
}
.mega-box5{
  position: absolute;
  top: 150px;
  width: 1190px; 
  right: 78px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box5 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
}
.mega-box6{
  position: absolute;
  top: 150px;
  width: 1190px; 
  right: -85px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box6 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
}
.mega-box7{
  position: absolute;
  top: 150px;
  width: 1190px; 
  right: -310px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box7 .content{
  position: relative;
  background: white;
  /* padding: 5px 25px; */
  display: flex;
  width: 850px;
  justify-content:center;
}

.content .row{
  /* width: calc(25% - 30px); */
  height: 200px;
  line-height: 45px;
  padding-top: 10px;
}
.content .row header{
  color: #002A48;
  font-size: 24px;
  font-weight: 600;
}
.content .row .mega-links{
  border-left: 1px solid rgba(255, 255, 255, 0.09) ;
  margin-left: -40px;
}
.content .row:nth-child(1), .content .row:nth-child(2){
  border-left: 0px;
}
.row .tiu-18 div a{
  padding: 0 20px;
  color: #002A48;
  font-size: 22px;
  display: block;
}