*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', roboto;
}
body::-webkit-scrollbar {
  display: none;
}

.footer-child {
  height: 161px;
  width: 1448px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.logo-hoc-vien-am-nhac-quoc-gia-icon8 {
  height: 135px;
  width: 145px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.hc-vin-m {
  margin: 0;
  font-weight: 800;
}
.vietnam-national-academy {
  margin: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.hc-vin-m-container,
.loop-controller {
  position: relative;
  z-index: 2;
}
.loop-controller {
  width: 0;
  height: 20px;
  display: inline-block;
}
.condition-checker {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.branch-splitter {
  height: 20px;
  width: 0;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 2;
}
.output-dispatcher {
  width: 264px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.connection-manager,
.geometry-handler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.connection-manager {
  gap: 27px;
}
.geometry-handler {
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.bn-quyn-thuc,
.ho-nam-ng,
.t-844-3851,
.website-wwwvnameduvn- {
  margin: 0;
}
.bn-quyn-thuc-container {
  align-self: stretch;
  height: 115px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  backdrop-filter: blur(4px);
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.footer1,
.merge-combiner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.merge-combiner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  max-width: 100%;
  text-align: right;
}
.footer1 {
  position: absolute;
  top: 3213px;
  left: -3px;
  background-color: var(--color-darkslategray);
  width: 100%;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-45xl) var(--padding-smi) 77px;
  gap: 24px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}

.trang-ch-child {
  position: absolute;
  top: 1521px;
  left: -105px;
  width: 64.2px;
  height: 70px;
  display: none;
}
.parallel-processor-icon,
.parallel-processor-icon1,
.parallel-processor-icon2,
.parallel-processor-icon3,
.parallel-processor-icon4 {
  height: 178.2px;
  width: 180px;
  position: relative;
  object-fit: cover;
  min-height: 178px;
}
.stack-memory-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sequential-processor {
  height: 159.1px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19.1px 0 0;
  box-sizing: border-box;
}
.timer-trigger {
  position: relative;
  /* top: 3014px;
  left: 64px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 173px;
  gap: 42px;
}
.hbtoyota-1-icon {
  position: relative;
  width: 115px;
  height: 81px;
  object-fit: cover;
}
.solarletter-outline-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ni-bt {
  margin: 0;
  width: 169px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.comparator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 27px;
  text-align: center;
}
.filter-icon {
  height: 4px;
  width: 197.5px;
  position: relative;
}
.transformer {
  align-self: stretch;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-2xs) var(--padding-11xl);
  box-sizing: border-box;
}
.delayer,
.joiner-icon {
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.joiner-icon {
  width: 715px;
  max-height: 100%;
  object-fit: cover;
}
.delayer {
  width: 100%;
  right: 0;
  background-color: var(--color-steelblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.delayer-parent,
.dn-nhc-dn10 {
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.dn-nhc-dn10 {
  display: inline-block;
}
.delayer-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-lgi) var(--padding-lgi);
  box-sizing: border-box;
}
.joiner-parent,
.sorter {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.joiner-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  min-height: 484px;
  debug_commit: f6aba90;
}
/* slide roll dau tien */
.hinhanh1::-webkit-scrollbar {
  display: none;
}
.sorter {
  width: 734px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-lg) 0 0;
  box-sizing: border-box;
  max-width: 102%;
}
.frame-child51,
.frame-child52 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child51 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child52 {
  background-color: var(--color-steelblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.k-tho-thut5 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent51,
.rectangle-parent52,
.sorter1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-parent52 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-4xs)
    var(--padding-lg-9);
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.rectangle-parent51,
.sorter1 {
  flex-shrink: 0;
}
.rectangle-parent51 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-11xs);
  position: relative;
  min-height: 484px;
  debug_commit: f6aba90;
}
.sorter1 {
  width: 734px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  max-width: 102%;
}
.frame-child53,
.frame-child54 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child53 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child54 {
  background-color: var(--color-steelblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent54,
.thng-bo-chng5 {
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.thng-bo-chng5 {
  height: 56px;
  display: inline-block;
  white-space: pre-wrap;
}
.rectangle-parent54 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-4xs)
    var(--padding-lgi);
  box-sizing: border-box;
}
.rectangle-parent53,
.sorter2 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.rectangle-parent53 {
  width: 715px;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  min-height: 484px;
  debug_commit: f6aba90;
}
.sorter2 {
  width: 799px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 111%;
}
.divider-icon,
.writer {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
}
.divider-icon {
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.writer {
  right: 6px;
  background-color: var(--color-steelblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.mt-s-hnh10,
.mt-s-hnh11 {
  height: 56px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
  max-width: 100%;
  z-index: 1;
}
.mt-s-hnh11 {
  z-index: 2;
  margin-left: -685.2px;
}
.divider-parent,
.writer-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.writer-parent {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs) var(--padding-4xs) 18.8px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.divider-parent {
  width: 715px;
  flex-shrink: 0;
  align-items: flex-end;
  min-height: 484px;
  debug_commit: f6aba90;
}
.monitor-icon,
.timer {
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.monitor-icon {
  width: 715px;
  max-height: 100%;
  object-fit: cover;
}
.timer {
  width: 100%;
  left: 0;
  background-color: var(--color-steelblue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dn-nhc-dn11 {
  height: 56px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.hinhanh1,
.monitor-parent,
.timer-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.timer-parent {
  flex: 1;
  align-items: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-lgi) var(--padding-lgi);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.hinhanh1,
.monitor-parent {
  flex-shrink: 0;
}
.monitor-parent {
  width: 716px;
  align-items: flex-end;
  position: relative;
  min-height: 484px;
  debug_commit: f6aba90;
}
.hinhanh1 {
  width: 721px;
  overflow-x: auto;
  align-items: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: var(--gap-201xl);
  min-width: 721px;
  max-width: 100%;
}
.k-nim-65-nm-thnh-lp-hc-v,
.p {
  margin-block-start: 0;
  margin-block-end: 30px;
}
.p {
  font-size: var(--font-size-5xl);
  color: #231604;
}
.k-nim-65-container {
  align-self: stretch;
  position: relative;
}
.thungo65nam-1-icon {
  height: 81px;
  width: 115px;
  position: relative;
  object-fit: cover;
}
.th-ng-ca,
.vit-nam-nhn {
  margin: 0;
}
.th-ng-ca-container {
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.graph-maker {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.boolean-operator-icon {
  width: 528.5px;
  height: 1px;
  position: relative;
  max-width: 100%;
}
.dropdown-menu {
  width: 0;
  height: 25px;
  position: relative;
  font-weight: 800;
  display: inline-block;
}
.list-item {
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.danh-sch-hssv,
.tr-m-nhc {
  margin: 0;
}
.danh-sch-hssv-container {
  position: relative;
  font-weight: 500;
}
.image-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.fork-join,
.graph-maker-parent,
.image-container-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.image-container-wrapper {
  flex-direction: row;
  justify-content: flex-end;
  color: var(--color-black);
}
.fork-join,
.graph-maker-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.graph-maker-parent {
  padding: 0 var(--padding-10xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
  font-size: var(--font-size-xl);

}
.fork-join {
  gap: var(--gap-smi); 
  height: 288px;
}
/* co 1 cai gap giua fork - join va table -row */
.horizontal-layout-icon {
  width: 528.5px;
  height: 1px;
  position: relative;
  max-width: 100%;
}
.thu-khoa-nhac-vien-ha-noi-gay-icon {
  height: 81px;
  width: 115px;
  position: relative;
  object-fit: cover;
}
.bo-co-vic {
  position: relative;
  font-weight: 500;
}
.bo-co-vic-lm-sinh-vin-nm-wrapper,
.vertical-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bo-co-vic-lm-sinh-vin-nm-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.vertical-layout {
  flex-direction: row;
  gap: var(--gap-7xs);
}
.horizontal-layout-icon1 {
  width: 528.5px;
  height: 1px;
  position: relative;
  max-width: 100%;
}
.giangvien-1-icon {
  height: 81px;
  width: 115px;
  position: relative;
  object-fit: cover;
}
.ging-vin-hc,
.ln-th-10,
.ngh-s-nhn {
  margin: 0;
}
.ging-vin-hc-container {
  position: relative;
  font-weight: 500;
}
.giangvien-1-parent,
.output-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.giangvien-1-parent {
  flex-direction: row;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-7xs);
}
.horizontal-layout-icon2 {
  width: 528.5px;
  height: 1px;
  position: relative;
  max-width: 100%;
}
.table-row {
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  height: 166px;
}
.prioritizer,
.switcher,
.table-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.switcher {
  align-self: stretch;
  justify-content: flex-start;
  gap: 37px;
}
.prioritizer {
  width: 661px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  min-width: 661px;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
}
.mapper,
.reducer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.reducer {
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-10xl);
}
.mapper {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 60px var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.tin-tc {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.tin-tc-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-6xs) var(--padding-9xl);
}
.row-layout-child {
  width: 70px;
  height: 70px;
  position: relative;
}
.row-layout {
  height: 146px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 76px 0 0;
  box-sizing: border-box;
}
.frame-child55,
.frame-child56 {
  position: absolute;
  left: 0;
  width: 511px;
}
.frame-child55 {
  top: 0;
  height: 294px;
  object-fit: cover;
}
.frame-child56 {
  top: 248px;
  background-color: var(--color-gray-200);
  height: 46px;
  z-index: 1;
}
.ging-vin-hc1 {
  position: absolute;
  top: 253px;
  left: 11px;
  display: inline-block;
  width: 459px;
  z-index: 2;
}
.rectangle-parent55 {
  height: 294px;
  width: 511px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  /* debug_commit: f6aba90; */
}
.frame-child57,
.frame-child58 {
  position: absolute;
  left: 0;
  width: 511px;
}
.frame-child57 {
  top: 0;
  height: 294px;
  object-fit: cover;
}
.frame-child58 {
  top: 248px;
  background-color: var(--color-gray-200);
  height: 46px;
  z-index: 1;
}
.khai-mc-cuc {
  position: absolute;
  top: 253px;
  left: 11px;
  display: inline-block;
  width: 459px;
  z-index: 2;
}
.rectangle-parent56 {
  height: 294px;
  width: 511px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-child59 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child60,
.thng-hng-ng {
  position: relative;
  max-width: 100%;
}
.frame-child60 {
  /* height: 46px;
  width: 511px;
  background-color: var(--color-gray-200);
  display: none;
  z-index: 1; */
  top: 248px;
  background-color: var(--color-gray-200);
  height: 46px;
  z-index: 1;
}
.thng-hng-ng {
  /* width: 459px;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2; */
  position: absolute;
  top: 253px;
  left: 11px;
  display: inline-block;
  width: 459px;
  z-index: 2;
}
.rectangle-parent57 {
  /* width: 511px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  min-height: 294px;
  debug_commit: f6aba90; */
  height: 294px;
  width: 511px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}

.frame-child61,
.frame-child62 {
  position: absolute;
  left: 0;
  width: 511px;
}
.frame-child61 {
  top: 0;
  height: 294px;
  object-fit: cover;
}
.frame-child62 {
  top: 248px;
  background-color: var(--color-gray-200);
  height: 46px;
  z-index: 1;
}
.hc-vin-m1 {
  position: absolute;
  top: 253px;
  left: 11px;
  display: inline-block;
  width: 459px;
  z-index: 2;
}
.rectangle-parent58 {
  height: 294px;
  width: 511px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-parent23 {
  /* width: 1274px; */
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding: 0 0 var(--padding-45xl); */
  box-sizing: border-box;
  gap: var(--gap-21xl);
  max-width: calc(100% - 156px);

}
.frame-parent23::-webkit-scrollbar {
  display: none;
}
.wrapper-frame-13-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 9px;
  transform: scale(1.243);
}
.wrapper-frame-13 {
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-layout1,
.slide-roll {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.row-layout1 {
  height: 156px;
  flex-direction: column;
  padding: 86px 0 0;
}
.slide-roll {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  padding: 31px 0 var(--padding-11xl);
  gap: var(--gap-5xs);
  max-width: 100%;
  width: 100%;
  height: 100%;
  justify-content: center;
}
/* gạch chân dưới Tin tức */
.frame-child63 {
  position: relative;
  align-self: center;
  top: 0;
  left: 0;
  width: 221.5px;
  height: 4px;
  z-index: 1;
}
.slide-roll-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 419px;
  max-width: 100%;
}
.frame-child64 {
  height: 59px;
  width: 226px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  display: none;
}
.xem-tt-c {
  width: 125px;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-darkslategray);
  text-align: center;
  display: inline-block;
  min-width: 125px;
  z-index: 2;
}
.frame-button {
  cursor: pointer;
  border: 3px solid var(--color-darkslategray);
  padding: var(--padding-smi) 45px var(--padding-base) var(--padding-31xl);
  background-color: var(--color-white);
  top: 389px;
  left: 600px;
  border-radius: var(--br-7xl);
  box-sizing: border-box;
  width: 226px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
  align-self: center;
  position: relative;
  left: 0;
  margin: auto;
}
.frame-button:hover {
  background-color: #e6e6e6;
  border: 3px solid #335e7a;
  box-sizing: border-box;
}
.progress-bar {
  height: 448px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.icon-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 8px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.counter,
.cu-chuyn-child {
  width: 100%;
  position: absolute;
  left: 0;
}
.counter {
  top: 672px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  font-family: var(--font-plus-jakarta-sans);
}
.cu-chuyn-child {
  height: 138px;
  width: 100%;
  margin: 0;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #fff 86.5%, rgba(255, 255, 255, 0));
  z-index: 1;
}
@media only screen and (max-width: 1023px) {
  /* .cu-chuyn2,  */
  /* .cu-chuyn-child,   */
  .logo-hoc-vien-am-nhac-quoc-gia-wrapper,
  .frame-parent24,
  .frame-wrapper12,
  .tiu-18
   {
    display: none!important; 
  }
  .cu-chuyn-child{
    height: 120px;
    width: 100%;
  }
}
.logo-hoc-vien-am-nhac-quoc-gia-icon9 {
  width: 124px;
  height: 124px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logo-hoc-vien-am-nhac-quoc-gia-wrapper {
  height: 138px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.ng-nhp8,
.ngn-ng8 {
  position: relative;
  display: inline-block;
  font-weight: 500;
  flex-shrink: 0;
  font-family: inherit ;
}
.ng-nhp8 {
  width: 103px;
  cursor: pointer;
}
.ngn-ng8 {
  width: 94px;
}
.ng-nhp-parent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 155px;
  gap: var(--gap-xl);
  z-index: 1;

}
.frame-child65 {
  border: 1px solid var(--color-steelblue-100);
  outline: 0;
  background-color: var(--color-white);
  height: 26px;
  width: 184px;
  position: absolute;
  margin: 0 !important;
  right: -110px;
  bottom: -5px;
  border-radius: var(--br-7xl);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 1;
}
.tm-kim8 {
  position: relative;
  display: inline-block;
  font-weight: 500;
  min-width: 63px;
  z-index: 2;
}
.rectangle-parent59 {
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-silver);
}
.frame-parent26,
.frame-wrapper13,
.rectangle-parent59 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent26 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-9xl);
}
.frame-wrapper13 {
  width: 330px;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;

}
.icon5 {
  height: 50px;
  width: 52px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent25,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent25 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  width: 526px;
  justify-content: flex-end;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
}
.trang-ch9 {
  display: inline-block;
  min-width: 92px;
}
.tin-tc-v8,
.trang-ch9 {
  position: relative;
  font-weight: 500;
}
.o-to17 {
  margin: 0;
}
.o-to16 {
  height: 50px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.tuyn-sinh17 {
  margin: 0;
}
.tuyn-sinh16 {
  height: 50px;
}
.bin-din8,
.n-v8,
.nghin-cu8,
.tuyn-sinh16,
.v-chng-ti8 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.nghin-cu8 {
  width: 128px;
  flex-shrink: 0;
}
.bin-din8,
.n-v8,
.v-chng-ti8 {
  min-width: 88px;
}
.n-v8 {
  align-self: flex-start;
  right: -5px;
  width: 65px;
  margin-right: 0px;
}

.n-v8,
.v-chng-ti8 {
  min-width: 59px;
}
.v-chng-ti8 {
  position: relative;
  margin: 0 !important;
  top: 0;
  right: -2px;
  line-height: 25.6px;
  min-width: 120px;
}
.cu-chuyn2,
.frame-parent24,
.tiu-18 {
  display: flex;
  justify-content: flex-start;
}
.tiu-18 {
  align-self: stretch;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: flex-start;
  padding: 0 0 var(--padding-4xs);
  position: relative;
  gap: var(--gap-34xl);
  z-index: 1;
  font-size: var(--font-size-xl);
  flex-wrap: wrap;
  flex-basis: 100%;
  /* padding-right: 0px;
  margin-right: 0px; */
}
.tiu-18 a {
  overflow: auto ;
}
/* .anh-nen-icon,
.error-handler {
  position: absolute;
  top: 107px;
  left: 0;
  width: 100%;
  height: 504px;

} */
/* .anh-nen-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
} */
.anh-nen-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%; 
  height: 100%; 
  /* margin: 0;
  padding: 0; */
}

.error-handler {
  /* top: 450px; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(0, 42, 72, 0), #002a48 20%, #0a5d97);
  width: 100%;
  height: 70px;
  mix-blend-mode: normal;
  z-index: 5;
  min-height: 74px;
}
.cu-chuyn2,
.frame-parent24 {
  align-items: flex-end;
  max-width: 100%;
}
.frame-parent24 {
  width: 1295px;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap-10xs);
}
.cu-chuyn2 {
  /* anhlinhdzsua */
  height: 90px;
  width: 100%;
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-28xl);
  z-index: 3;
  /* thêm wrap */
  flex-wrap: wrap;
  justify-content: space-around;
}
.shape-container-child {
  align-self: center;
  justify-content: center;
  width: 100% ;
  height: 100%;
  position: absolute;
  /* margin: 0 !important; */
  padding: 0 30px !important;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
  z-index: 2;
  overflow-x: hidden;
  box-sizing: border-box;
  background-size: contain;
  background-position-x: 50% ;
}
.hc-vin-m2 {
  margin: 0;
  width: 80%;
  position: relative;
  font-size: 48px;
  line-height: 76.8px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  text-align: center;
  z-index: 3;
}
.color-modifier {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-29xl) 0 var(--padding-31xl);
  z-index: 3;
}
.gp-phn-xy,
.hc-vin-m3,
.tham-gia-vo {
  margin: 0;
}
.hc-vin-m-container1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-plus-jakarta-sans);
  text-align: center;
  z-index: 3;
}
.color-modifier-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 2;
}
.frame-child66 {
  height: 59px;
  width: 226px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-gainsboro-100);
  display: none;
}
.khm-ph, .span {
  display: inline-block;
}
.khm-ph {
  text-decoration: none;
  color:#000;
  font-weight: 800;
}

.span {
  font-weight: 300;
}
.khm-ph-container {
  height: 25px;
  position: relative;
  /* white-space: pre-wrap; */
  justify-content: space-between;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.rectangle-parent60,
.shape-container-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent60 {
  border-radius: var(--br-7xl);
  background-color: var(--color-gainsboro-100);
  justify-content: flex-start;
  padding: var(--padding-mid) 47px;
  white-space: nowrap;
  z-index: 3;
}
.shape-container-inner {
  width: 1248px;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
  align-self: center;
}
.cu-chuyn-group,
.shape-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.shape-container1 {
  background: url(./public/www.vnam.edu.vn-vnamresource-users-hoang-_hoc-vien-2021.jpg) center center / cover no-repeat!important;
  position: absolute;
  bottom: 0;
  align-self: stretch;
  padding: 178px 140px var(--padding-63xl) 140px;
  box-sizing: border-box;
  position: relative;
  gap: 23px;
  margin-top: -35px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

.cu-chuyn-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-plus-jakarta-sans);
  overflow-x: hidden;
  overflow-y: hidden;
}
.hoinghi-1-icon {
  position: absolute;
  width: 1249px;
  height: 416px;
  z-index: 0;
  align-self: center;
  top: 0;
  left: 0;
  /* top: 2543px;
  left: 67px;
  width: 1309px;
  height: 417px; */
  /* object-fit: cover; */
}
.kt-ni-vnam {
  margin: 0;
  height: 60px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.fill-colors-icon {
  height: 4px;
  width: 221.5px;
  position: relative;
}
.fill-colors-wrapper,
.kt-ni-vnam-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fill-colors-wrapper {
  height: 4px;
  flex-direction: row;
  padding: 0 46px 0 var(--padding-29xl);
  box-sizing: border-box;
}
.kt-ni-vnam-parent {
  flex-direction: column;
  gap: 16px;
}
.stroke-controller-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 var(--padding-xl);
}
.path-elements-child {
  width: 395px;
  height: 365px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.qun-l-in {
  margin: 0;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.shape-properties-icon {
  height: 152px;
  width: 131px;
  position: relative;
  z-index: 1;
}
.geometry-properties {
  align-self: stretch;
  height: 152px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 55px 0 55px;
  box-sizing: border-box;
}
.path-elements,
.path-elements-item {
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslategray);
  max-width: 100%;
}
.path-elements {
  flex: 0.7352;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) 67px 67.5px;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 296px;
}
.path-elements-item {
  width: 395px;
  height: 365px;
  position: relative;
  display: none;
}
.th-in-t,
.vector-icon1 {
  position: relative;
  z-index: 1;
}
.th-in-t {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  font-family: inherit;
}
.vector-icon1 {
  height: 152.9px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.vector-wrapper {
  width: 193px;
  height: 152.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 var(--padding-7xs);
  box-sizing: border-box;
}
.path-elements-inner,
.path-elements1 {
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslategray);
  max-width: 100%;
}
.path-elements1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-xl) 69.1px;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 296px;
  padding: 67px;
  padding-top: 50px;
}
.path-elements-inner {
  width: 395px;
  height: 365px;
  position: relative;
  display: none;
}
.hc-b-in,
.vector-icon2 {
  position: relative;
  z-index: 1;
}
.hc-b-in {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  font-family: inherit;
}
.vector-icon2 {
  height: 140.7px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.path-elements2,
.vector-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.vector-container {
  align-self: stretch;
  height: 140.7px;
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 var(--padding-base);
}
.path-elements2 {
  flex: 0.7127;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkslategray);
  flex-direction: column;
  padding: var(--padding-29xl) 71px 81.3px;
  gap: var(--gap-31xl);
  min-width: 296px;
  max-width: 100%;
}
.stroke-colors {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 58px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.fill-manager,
.stroke-colors,
.stroke-controller {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.stroke-colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.stroke-controller {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.fill-manager {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 87px var(--padding-10xs);
  box-sizing: border-box;
  padding-bottom: 30px;
  /* align-items: center; */
}
.fill-effects {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
  z-index: 1;
}
.thnh-lp-nm,
.vin-m-nhc2 {
  position: relative;
  z-index: 2;
}
.vin-m-nhc2 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.thnh-lp-nm {
  font-size: var(--font-size-5xl);
  line-height: 30.4px;
  font-weight: 600;
  font-family: var(--font-plus-jakarta-sans);
  text-align: left;
}
.stroke-effects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  max-width: 100%;
}
.shape-combination-child {
  height: 59px;
  width: 226px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  display: none;
}
.tm-hiu-thm {
  font-weight: 800;
}
.span1 {
  font-weight: 300;
}
.tm-hiu-thm-container {
  /* height: 25px;
  position: relative;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3; */
  height: 25px;
  position: relative;
  /* white-space: pre-wrap; */
  justify-content: space-between;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.path-properties,
.shape-combination {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-combination {
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-9xl) var(--padding-mid)
    var(--padding-10xl);
  white-space: nowrap;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
.path-properties {
  flex-direction: column;
  padding: 101px var(--padding-20xl) 93px var(--padding-31xl);
  box-sizing: border-box;
  position: relative;
  gap: 41px;
  max-width: 100%;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
  height: 416px;
  
}
.qung-co {
  width: 107px;
  position: relative;
  display: inline-block;
  min-width: 107px;
  z-index: 1;
  /* bottom: -3px; */
}
.fill-operations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: center ;
  padding: 0 var(--padding-8xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  max-height: 190px;
  /* padding-bottom: 10px; */
}
.timer-trigger {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.path-creator {
  position: relative;
  top: 1800px;
  /* left: auto; 
  right: auto; */
  width: 1309px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 33px;
  max-width: 100%;
  padding: 20px 30px;
  margin: auto;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  font-family: var(--font-plus-jakarta-sans);
}
.trang-ch8 {
  width: 100%;
  height: 3371px;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  letter-spacing: normal;
}
/* @media screen and (max-width: 1350px) { */
  /* @media only screen and (max-width: 1000px) and (min-width: 600px) {
  .timer-trigger {
    flex-wrap: wrap;
  }
  .hinhanh1 {
    flex: 1;
    width: 50%;
    gap: 220px 110px;
  }
  .prioritizer {
    flex: 1;
    width: 50%;
  }
  .cu-chuyn2,
  .reducer {
    flex-wrap: wrap;
  }
  .color-modifier {
    padding-left: 25px;
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .trang-ch8 {
    height: auto;
    min-height: 3371;
  }
}
@media screen and (max-width: 1150px) {
  .stroke-colors,
  .tiu-18 {
    flex-wrap: wrap;
  }
  .prioritizer,
  .hinhanh1 {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .footer1 {
    padding-left: 38px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .ni-bt {
    font-size: var(--font-size-19xl);
  }
  .hinhanh1 {
    gap: 220px 55px;
    min-width: 100%;
  }
  .giangvien-1-parent,
  .graph-maker,
  .vertical-layout {
    flex-wrap: wrap;
  }
  .switcher {
    gap: 18px 37px;
  }
  .prioritizer {
    min-width: 100%;
  }
  .tin-tc {
    font-size: var(--font-size-19xl);
  }
  .frame-parent23 {
    gap: 40px 20px;
  }
  .tiu-18 {
    gap: 53px 26px;
  }
  .cu-chuyn2 {
    gap: 47px 23px;
  }
  .hc-vin-m2 {
    font-size: var(--font-size-32xl);
  }
  .shape-container1 {
    padding-left: 88px;
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
  .kt-ni-vnam {
    font-size: var(--font-size-19xl);
  }
  .hc-b-in,
  .qun-l-in,
  .th-in-t {
    font-size: var(--font-size-10xl);
  }
  .vin-m-nhc2 {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 700px) {
  .bn-quyn-thuc-container {
    font-size: var(--font-size-base);
  }
  .ni-bt {
    font-size: var(--font-size-10xl);
  }
  .dn-nhc-dn10,
  .dn-nhc-dn11,
  .k-tho-thut5,
  .mt-s-hnh10,
  .mt-s-hnh11,
  .thng-bo-chng5 {
    font-size: var(--font-size-lg);
  }
  .hinhanh1 {
    gap: 220px 27px;
  }
  .k-nim-65-container {
    font-size: var(--font-size-lgi);
  }
  .bo-co-vic,
  .danh-sch-hssv-container,
  .dropdown-menu,
  .ging-vin-hc-container,
  .th-ng-ca-container {
    font-size: var(--font-size-base);
  }
  .tin-tc {
    font-size: var(--font-size-10xl);
  }
  .frame-parent25,
  .frame-parent26 {
    flex-wrap: wrap;
  }
  .bin-din8,
  .n-v8,
  .nghin-cu8,
  .o-to16,
  .tin-tc-v8,
  .trang-ch9,
  .tuyn-sinh16,
  .v-chng-ti8 {
    font-size: var(--font-size-base);
  }
  .hc-vin-m2 {
    font-size: var(--font-size-19xl);
  }
  .hc-vin-m-container1 {
    font-size: var(--font-size-base);
  }
  .shape-container1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .kt-ni-vnam {
    font-size: var(--font-size-10xl);
  }
  .qun-l-in {
    font-size: var(--font-size-3xl);
  }
  .path-elements {
    flex: 1;
  }
  .hc-b-in,
  .th-in-t {
    font-size: var(--font-size-3xl);
  }
  .path-elements2 {
    flex: 1;
  }
  .vin-m-nhc2 {
    font-size: var(--font-size-19xl);
  }
  .thnh-lp-nm {
    font-size: var(--font-size-lgi);
  }
  .qung-co {
    font-size: var(--font-size-base);
  }
}
/* bổ sung phần transformer */
.transformer, .reducer {
 padding: 10px;
} 
.mapper {
  align-self: center;
  padding: 20px;
  padding-top: 0;
}
.reducer {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr; 
  column-gap: 50px;
}
.trang-ch8 {
  padding: 0 30px;
}
.icon-container{
  display: grid;
  grid-template-columns: 1fr;
}

/* @media only screen and (min-width: 1001px) {
  .cu-chuyn2{
    flex-wrap: wrap;
    order: 0;
  }
  .shape-container1{
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  body {
      background-color: lightblue;
  }

  article img {
      width: 240px;
      margin-right: 20px;
      margin-bottom: 10px;
      float: left;
  }
}
@media only screen and (max-width: 599px) {
  .tiu-18{
    flex-direction: column;
    order: 1;
  }
} */ */
.tiu-18 div a:hover{
  background: #ebebeb;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.tiu-18 div a:active{
  text-decoration: none;
  color: #00A9DE;
  z-index: 1000;
}

.tiu-18 div:hover .mega-box1{
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.tiu-18 div:hover .mega-box2{
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.tiu-18 div:hover .mega-box3{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div:hover .mega-box4{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div:hover .mega-box5{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div:hover .mega-box6{
  opacity: 1;
  visibility: visible;
}
.tiu-18 div:hover .mega-box7{
  opacity: 1;
  visibility: visible;
}
.mega-box1{
  position: absolute;
  /* background: white; */
  top: 50px;
  width: 850px; 
  left: -200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 6;
}
.mega-box1 .content{
  position: relative;
  background: white;
  padding: 5px 20px;
  display: flex;
  width: 750px;
  justify-content: space-evenly;
  /* đang ở đây */
  z-index: 1000;
}
.mega-box2{
  position: absolute;
  top: 50px;
  width: 850px; 
  left: -300px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box2 .content{
  position: relative;
  background: white;
  padding: 5px 25px;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.mega-box3{
  position: absolute;
  top: 50px;
  width: 850px; 
  left: -290px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box3 .content{
  position: relative;
  background: white;
  padding: 5px 25px;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.mega-box4{
  position: absolute;
  top: 50px;
  width: 850px; 
  left: -290px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box4 .content{
  position: relative;
  background: white;
  padding: 5px 25px;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.mega-box5{
  position: absolute;
  top: 50px;
  width: 850px; 
  right: -450px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box5 .content{
  position: relative;
  background: white;
  padding: 5px 25px;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.mega-box6{
  position: absolute;
  top: 50px;
  width: 850px; 
  right: -320px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-box6 .content{
  position: relative;
  background: white;
  padding: 5px 25px;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.mega-box7{
  display: block;
  position: absolute;
  top: 50px;
  width: 850px; 
  right: -190px;
  opacity: 1;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 100;
}
.mega-box7 .content{
  position: relative;
  background: white;
  padding: 5px 25px;
  display: flex;
  width: 700px;
  justify-content: space-evenly;
}
.mega-box6 .content .row {
  padding-top: 30px;
}
.content .row{
  /* width: calc(25% - 30px); */
  height: 200px;
  line-height: 45px;
  padding-top: 10px;
}
.content .row header{
  color: #002A48;
  font-size: 24px;
  font-weight: 600;
}
.content .row .mega-links{
  border-left: 1px solid rgba(255, 255, 255, 0.09) ;
  margin-left: -40px;
}
.content .row:nth-child(1), .content .row:nth-child(2){
  border-left: 0px;
}
.mega-links li a{
  text-decoration: none;
  color: black;
}
.row .tiu-18 div a{
  padding: 0 20px;
  color: #002A48;
  font-size: 22px;
  display: block;
}
@media only 
  

